*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container{
    width: 100%;
    height: 400px;
    background-color: lightskyblue;
    text-align: center;
}
textarea{
    width: 80%;
    height: 150px;
    margin: 35px auto;
    font-size: 25px;
}
.btn-container{
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}
.btn-container > button {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightskyblue;
}
.dashboard-input{
    width: 80%;
    border: 1px solid lightskyblue;
    border-radius: 4px;
    margin: 10px auto;
    padding: 10px;
}
.dashboard-input:focus {
    background-color: lightyellow;
    border: 1px solid lightyellow;
}
.flex-nav{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: wheat;
    padding: 15px;
    width: 100%;
    font-family: "Yu Gothic UI";
    font-size: 18px;
}
.div-random{
    height: calc(100vh - 54px);
}
.list-ul{
    font-size: 30px;
    font-family: "Droid Sans Mono Slashed";
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list-ul > li:hover {
    background-color: saddlebrown;
    font-size: 40px;
    cursor: pointer;
}